* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0) 0%,
    rgb(255, 255, 255) 50%,
    rgb(255, 0, 0) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  overflow: auto;
}

button {
  cursor: pointer;
  background: #3e3b41;
  color: white;
  transition: background 0.3s;
}

button:hover {
  background: #ff2b2b;
}

button:active {
  background: #373638;
}

.header {
  background-color: #e7e7e7;
  display: flex;
  text-align: center;
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 8px;
}


h1 {
  background-color: #e7e7e7;
  font-style: italic;
  font-family: monospace;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.header img {
  width: 50px;
}

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout img {
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.box {
  display: flex;
  background-color: #e7e7e7;
  margin: 20px 0px 20px 0px;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.2);
  width: auto;
  max-width: 800px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.inputs {
  display: flex;
  gap: 10px;
}

.inputs label {
  font-weight: bold;
}

#key-text,
#filtered-key-text,
#text-to-encrypt,
#text-intermediate,
#filtered-text-to-encrypt,
#encrypted-text,
#text-to-decrypt,
#decrypted-text,
#decrypted-filtered-text,
#key-column-text {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  resize: none;
  height: 30px;
  width: 300px;
  margin-bottom: 5px;
}

#matrix-with-key,
#matrix-column-key {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  resize: none;
  height: auto;
  width: 300px;
  margin-bottom: 5px;
}

.key-text {
  height: 50px;
}

.control-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

#cipher-variant {
  padding: 8px;
  font-size: 16px;
  color: #333;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.encrypt-button,
.decrypt-button {
  font-weight: bold;
  padding: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#example-button {
  margin-top: 20px;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.matrix-display table,
.matrix-column table {
  border-collapse: collapse;
  margin-top: 10px;
}

.matrix-display th,
.matrix-display td,
.matrix-column th,
.matrix-column td {
  border: 1px solid #000;
  padding: 5px;
  text-align: center;
  font-family: monospace;
}

.matrix-display th,
.matrix-column th {
  background-color: #f0f0f0;
  font-weight: bold;
}
